* {
    border: 0;
    padding: 2;
    margin: 2;
    box-sizing: border-box;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    color: white;
    text-align: center;
    border: 2px solid black;
}

input {
    height: 2em;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background-color: rgb(68, 75, 68);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

button:hover {
    background-color: rgb(36, 117, 210);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active { 
    transform: scale(0.98);
}

a {
    color:rgb(36, 117, 210);
}